/* font-size */
h1 {
    font-size: 18px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    font-size: 13px;
}

body {
    font-size: 14px;
}


/* color */

a:link, a:visited, a:active {
    color: #778087;
}
body {
    color: #000;
    background-color:#FFF;
}