h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin: 5px 0px 15px 0px;
    padding: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid #e2e2e2;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
}

hr {
    border: none;
    height: 1px;
    color: #919191;
    background-color: #232226;
    margin-bottom: 1em;
}

pre {
    font-family: 'Consolas', 'Panic Sans', 'Consolas', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    margin: 0px;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

code {
    background-color: #232226;
    padding: 1px 2px 1px 2px;
    border-radius: 2px;
    font-family: 'Consolas', 'Panic Sans', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
}


ul {
    list-style: square;
    margin: 1em 0px 1em 1em;
    padding: 0px;
}

ul li, ol li {
    padding: 0px;
    margin: 0px;
}

ol {
    margin: 1em 0px 0em 2em;
    padding: 0px;
}

a:link, a:visited, a:active {
    color: #999999;
    text-decoration: none;
    word-break: break-all;
}

.imgly {
    max-width: 100%;
}

.markdown_body>p>img {
    max-width: 100%;
}

/* *******************************    ******************************* */
body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
    line-height: 1.75;
    color: #919191;
    background-color:#232226;
    word-wrap: break-word;
    max-height: 20em;
    padding: 5px;
}
