/* color */

a:link, a:visited, a:active {
    color: #778087;
}
body {
    color: #919191;
    background-color:#232226;
}
.subtle {
    /*    background-color: #F1F2F4;*/
}
.subtle .fade {
    color:#646464;
}