/* font-size */
h1 {
    font-size: <H1_FONT_SIZE>px; /* Default 18 */
}

h2 {
    font-size: <H2_FONT_SIZE>px; /* Default 18 */
}

h3 {
    font-size: <H3_FONT_SIZE>px; /* Default 16 */
}

pre {
    font-size: <PRE_FONT_SIZE>px; /* Default 13 */
}

body {
    font-size: <BODY_FONT_SIZE>px; /* Default 14 */
}
.subtle {
    font-size : <SUBTLE_FONT_SIZE>px; /* Default 12 */
}
.subtle .fade {
    font-size : <SUBTLE_FADE_FONT_SIZE>px; /* Default 10 */
}