/* color */

a:link, a:visited, a:active {
    color: #778087;
}
body {
    color: #000;
    background-color:#FFF;
}
.subtle {
/*    background-color: #F1F2F4;*/
}
.subtle .fade {
    color:#ADADAD;
}